/*.main3_0_wrap {
    position: sticky;
    height:2000px;
}*/
.main3_0_wrap {
    width:100%;
    /*height:937px; */
    height: auto;
    background-image: url(../img/127398768akrw.jpg); background-repeat: no-repeat; background-size: cover;
    background-attachment: fixed;
}

.main3_0 { height: 1000px;
    display:flex; justify-content: center;}

.main3_0 span {
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    line-height:78px;
    color:white;
    -webkit-font-smoothing: antialiased;
    padding: 619px 0 240px 0;
    text-align: center;
}
.main3_0_text1, .main3_0_text2 {
    position: relative;
    z-index: 1; }

.main3_0_text1 p {
    color:white;
    font-size: 20px;
    font-weight: 100;
    line-height: 32px;
}

.main3_0_text2 strong {
    color:white;
    font-size: 28px;
    font-weight: 700;
    line-height: 44.8px;
    display:block;
    text-align: center;
    margin-top:15px;
    padding: 0 30px;
}

/* 대망의 백그라운드 그라데이션 */

.main3_0_text_wrap {
    position: relative;
    width: 100%;
    height: 736px; /*임의값*/
    padding: 240px 0;
    color: rgb(255, 255, 255);
    text-align: center;
    }

.main3_0_text2 span {
    /*border-bottom: solid 51px rgb(135, 87, 33) ;*/
}

/* 텍스트 브라운 라인 */

.main3_0_text_wrap::before {
    content:' '; 
    position:absolute; 
    left:0; 
    top:-100%; 
    width:100%; 
    height:100%; 
    background: linear-gradient( 0deg
    , rgba(37, 41, 31, 0.8) 0%, rgba(37, 41, 31, 0.8) 1%, rgba(37, 41, 31, 0) 50%, rgba(37, 41, 31, 0) 100%);   
    }
    
.main3_0_text_wrap::after { 
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(37, 41, 31, 0.8);
    }    

.u-line {
    display: inline-block;
    position: relative; }
    
.u-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 22px;
    bottom: 5px;
    left: 0;
    display: inline-block;
    background: #875721;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    
::before {}
    
.u-line--pale::before {
    background: #c19c72; }
    
.u-line i {
    position: relative; }
    
.u-line.is-line::before {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1); }
    


/* Main3_1*/

.main3_1_wrap { 
    width:100%;
    height:100vh;
    min-height: 1200px; /*임의값임*/ 
    display:flex; 
    align-items: center;
    background-color: #ece5dd; 
    /*opacity:0.85;*/
    margin: 0 auto; 
    padding-top: 300px;}

.mov .main3_1_wrap {
        padding-top: 12rem;
        padding-bottom: 0; }
.mov .main3_1_wrap .main3_1_img {
        -webkit-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
                transform: translateY(-30%); }    

.main3_1_img {
    max-width:700px;
}

.main3_1_img img {
    width: 100%;
    max-width:700px;
    overflow: auto;
}

/* 홈페이지에서 긁어온 코드.main3_1_img {
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
   }*/

.main3_1_text_wrap {
    width:auto;
    height: auto;
    padding-top:40px; 
    padding-left: 110px;
    padding-right: 30px;
    
}

.main3_1_text {
    align-items: center center;
    width: 510px;
    color: #05141f;
    font-size:20px;
    font-weight:100; 
    line-height:32px; 
    text-size-adjust : 100%; /* 페이지에 있는코드여서 넣음*/
}
.main3_1_text p {
    text-align: left;
}
    


/* Main3_2 */

.main3_2_wrap { 
    width:100%;
    height:100vh; 
    min-height: 849px;
    background-image: url(../img/127398768kfdl.jpg); background-repeat: no-repeat; background-size: cover;
    overflow: hidden;
}

.main3_2 { 
    padding: 240px 0;
    width:100%;
    height:100%;
    }

.main3_2_box {
    width: 100%; height:auto;
    display:block;
    background-color:rgb(236, 229, 221);
    padding: 120px 110px; 
    max-width: 635px;}

.main3_2_div {  
        padding: 0 30px;
        font-size:20px;
        text-align: left;
    }
.main3_2_div p {
    font-size: 20px;
    line-height: 32px;
    width: 100%;}


/*.main3_2 { padding-top:130px; padding-bottom:90px;}*/
/* 이미지가 margin 60만큼 아래로 이동 */


/* MAIN 3_3 */

.main3_3 { width:100%;
    max-height:100vh;
    min-height: 902px;
    position:relative;
}

.main3_3 video { max-width:100%;
    height:100%;
    object-fit: cover;}

.main3_3_video { 
    position:relative;
    max-width:1060px;
    top:150px;
    object-position: center;
    margin: -1080px auto 0 ;
    overflow-x: hidden;
}

.main3_3_video video {
    width: 100%;
    height: 100%;
    max-width: 1060px;
}

/* .main3_3_play_div {
    width:100%;
    height:calc(100% - 95px);
    z-index: 10;
} */

.main3_3_play {
    display: block;
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: calc(50% - 76px) ;
    left: calc(50% - 48px);
}
.main3_3_play p { /*더 보기*/
    /*align-items: left;*/
    text-align: center;
    font-size: 15px;
    color:white;
    padding-top: 10px;
}
/* .main3_3_play_div { display: flex;
flex-direction: column;
justify-content: center;} */

.main3_3_play_btn {
    width: 66px;
    height: 66px;
    vertical-align: center;
}


.main3_3_video_text {
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top:50px;
}

.main3_3_video_text p { 
    color:#414141;
    -webkit-font-smoothing: antialiased; }

.main3_3_video_text :nth-child(1) {
    font-size:28px;
    font-weight: 700;
    line-height:44.8px;
    -webkit-font-smoothing: antialiased;
}
.main3_3_video_text :nth-child(2) {
    font-size:18px;
    font-weight: 100;
    line-height:28.8px;
    -webkit-font-smoothing: antialiased;
}

@media screen and ( max-width: 1199px ) {
    .main3_1_img img {
        max-width:560px;
    }
    .main3_1_text_wrap {
        padding-left: 70px;
    }
    .main3_2_box {
        padding: 75px 80px; 
        max-width: 565px;}
}


@media screen and ( max-width: 959px ) {
    .main3_0_text1 p {
        font-size: 16px;
        line-height: 25.6px;
        padding: 0 30px;
    }
    
    .main3_0_text2 strong {
        font-size: 22px;
        line-height: 35.2px;
        text-align: left;
    }
    .main3_0_text_wrap {
        text-align: left;
    }

        
    .main3_1_img {
        max-width:400px;
    }

    .main3_1_img img {
        width: 100%; 
        padding-right: 10%;
        max-width:400px;
    }

    .main3_1_wrap {
        display:block;
        flex-direction: column;
        justify-content: flex-start;
    }
    .main3_1_text_wrap {
        height: auto;
        padding: 0 40px;
        padding-top:40px; 
    }

    .main3_2 { padding-right: 10%;}
    .main3_2_box {
        padding: 75px 0; 
        font-weight:700;
        max-width: 400px;
        margin-right: 10%;
        height:auto;
    }
    .main3_2_div {  
        padding: 0 auto;
    }
    .main3_2_div p {
        font-size: 16px;
        line-height: 25.6px;
    }

/*    .main3_2_box {
    
        padding: 120px 110px; 
        line-height: 32px; letter-spacing: 0.4px; 
        font-size:20px; font-weight:700;
        text-align: left;
        height:336px;
        width: 634px;}*/

    .main3_3 { 
        min-height: 633px;
    }

    .main3_3_play {
        top: calc(50% - 108px);
        left: calc(50% - 33px);
    }
    .main3_3_play_wrap p {display: none;}

    .main3_3_video_text {
        flex-direction: column;
        align-items: left;
        margin-top:0;
    }
    .main3_3_video_text :nth-child(1) {
        font-size:24px;
        font-weight: 400;
        line-height:38.4px;
        padding: 0 30px;
        margin-top: 40px;
    }
    .main3_3_video_text :nth-child(2) {
        font-size:14px;
        line-height:22.4px;
        padding: 0 30px;
        margin : 14px 0;
    }
    
}
