/*.main3_0_wrap {
    position: sticky;
    height:2000px;
}*/
.main3_0_wrap {
    width:100%;
    /*height:937px; */
    height: auto;
    background-image: url(../img/127398768akrw.jpg); background-repeat: no-repeat; background-size: cover;
    background-attachment: fixed;
}

.main3_0 { height: 1000px;
    display:flex; justify-content: center;}

.main3_0 span {
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    line-height:78px;
    color:white;
    -webkit-font-smoothing: antialiased;
    padding: 619px 0 240px 0;
    text-align: center;
}

.main3_0_text_wrap {
    padding: 240px 0;
    }

.main3_0_text1 p {
    color:white;
    font-size: 20px;
    font-weight: 100;
    line-height: 32px;
}

.main3_0_text2 strong {
    color:white;
    font-size: 28px;
    font-weight: 700;
    line-height: 44.8px;
    display:block;
    text-align: center;
    margin-top:15px;
    padding: 0 30px;
}
.main3_0_text2 span {
    border-bottom: solid 2px rgb(135, 87, 33) ;
    font-style: italic;
}


/* main3_1*/

.main3_1_wrap { 
    height:1232px; 
    display:flex; justify-content:center; 
    background-color: #ece5dd; 
    /*opacity:0.85;*/
    margin: 0 auto; 
    padding-top: 300px;}

.main3_1_text { 
    color: #05141f; 
    font-size:20px; 
    line-height:32px; 
    overflow-wrap:break-word; 
    font-weight:100; 
    padding-top:12%; 
    padding-left: 110px;}

.main3_2_wrap { 
    height:937px; 
    background-image: url(../img/127398768kfdl.jpg); background-repeat: no-repeat; background-size: cover;}


.main_3_2 { 
    width: 1140px; height: 336px; 
    padding: 240px 0; 
    display:flex; justify-content: center; }

.main3_2_box {
    display:block; justify-content: center; 
    background-color:rgb(236, 229, 221); 
    padding: 120px 110px; 
    line-height: 32px; letter-spacing: 0.4px; 
    font-size:20px; font-weight:700; 
    height:336px;}


/*.main3_3 { padding-top:130px; padding-bottom:90px;}*/
/* 이미지가 margin 60만큼 아래로 이동 */

.main3_3 { width:100%; overflow: hidden;}

.main3_3_video { 
    position:relative;
    width:1060px;
    margin-top:-1080px;
    padding-top:130px;
    padding-bottom: 90px;
    margin: -1080px auto 0 auto;}

.main3_3_video video { width:1060px; height:auto; }

.main3_3_video_text {
    display:flex;
    justify-content: space-between;
    margin-top:50px;}

.main3_3_video_text p { color:#414141; -webkit-font-smoothing: antialiased; }

.main3_3_video_text :nth-child(1) {
    font-size:28px;
    font-weight: 700;
    line-height:44.8px;
}
.main3_3_video_text :nth-child(2) {
    font-size:18px;
    font-weight: 100;
    line-height:28.8px;
}